{% extends 'base-blank.html' %}

{% block title %}Terms and Conditions{% endblock title %}

{% block stylesheet %}
<style>
    .cpvc {
        color: #767676;
    }

    .cpva {
        color: #00ffe761;
    }
</style>
{% endblock stylesheet %}


{% block body %}

<main class="container-fluid usn">
    <h1 class="my-5 text-center">
        <span style="color: orangered; font-weight: 500;">
            <span style="color: orange;">i</span>Shop
        </span> Terms and Conditions
    </h1>
    <div class="container pb-5">
        <h6 class="text-center cpvc mb-6">
            Welcome to iShop, an Indian ice cream e-commerce company that has gathered sellers from all around the
            world. Founded in 1987, iShop has grown to become a global company that provides delicious ice cream to
            customers worldwide. By accessing or using our website or services, you agree to be bound by the following
            terms and conditions:
        </h6>
        <ol class="mt-5 border rounded-2 px-4 mb-5">
            <div class="display-6 mb-3 mt-4">Use of Website:</div>
            <li class="ms-5 mb-3 cpva">You may use our website for lawful purposes only.</li>
            <li class="ms-5 mb-3 cpva">You must not use our website in any way that causes or may cause damage to the
                website or impairment of the availability or accessibility of the website.</li>
        </ol>

        <ol class="mt-5 border rounded-2 px-4 mb-5">
            <div class="display-6 mb-3 mt-4">Orders:</div>
            <li class="ms-5 mb-3 cpva">Once an order is placed, it cannot be cancelled.</li>
            <li class="ms-5 mb-3 cpva">All orders are final and non-refundable.</li>
            <li class="ms-5 mb-3 cpva">We reserve the right to refuse any order you place with us.</li>
            <li class="ms-5 cpva mb-4">We may, in our sole discretion, limit or cancel quantities purchased per person,
                per household or per order.</li>
        </ol>

        <ol class="mt-5 border rounded-2 px-4 mb-5">
            <div class="display-6 mb-3 mt-4">Payment:</div>
            <li class="ms-5 mb-3 cpva">Payment must be made at the time of placing an order.</li>
            <li class="ms-5 mb-3 cpva">We accept various forms of payment, including credit cards and online payment
                services.</li>
            <li class="ms-5 cpva mb-4">All payments are final and non-refundable.</li>
        </ol>

        <ol class="mt-5 border rounded-2 px-4 mb-5">
            <div class="display-6 mb-3 mt-4">Shipping:</div>
            <li class="ms-5 mb-3 cpva">We provide shipping to various locations worldwide.</li>
            <li class="ms-5 mb-3 cpva">Shipping fees may apply and will be calculated at checkout.</li>
            <li class="ms-5 cpva mb-4">Please contact us for any delays or damages caused during shipping.</li>
        </ol>

        <ol class="mt-5 border rounded-2 px-4 mb-5">
            <div class="display-6 mb-3 mt-4">Privacy:</div>
            <li class="ms-5 cpva mb-4">We respect your privacy and protect your personal information in accordance with
                our <a href="/legal-documents/our-privacy-and-policy" class="cpva">Privacy Policy</a>.</li>
        </ol>

        <ol class="mt-5 border rounded-2 px-4 mb-5">
            <div class="display-6 mb-3 mt-4">Contact:</div>
            <li class="ms-5 cpva mb-4">We respect your Queries and we constantly try to respond your personal queries in accordance.</li>
            <li class="ms-5 cpva mb-4"> Connect with us:</li>
            <ul>
                <li class="ms-5 cpva mb-4"><a href="/contact" class="cpva">Contact Us</a></li>
                <li class="ms-5 cpva mb-4">ishopicecreams@gamil.com</li>
            </ul>
        </ol>

        <ol class="mt-5 border rounded-2 px-4 mb-5">
            <div class="display-6 mb-3 mt-4">Disclaimer:</div>
            <li class="ms-5 mb-3 cpva">We make no warranties, express or implied, and hereby disclaim and negate all
                other warranties including, without limitation, implied warranties or conditions of merchantability,
                fitness for a particular purpose, or non-infringement of intellectual property or other violation of
                rights.</li>
            <li class="ms-5 cpva mb-4">We do not guarantee the accuracy, completeness or usefulness of any information
                on our website.</li>
        </ol>

        <ol class="mt-5 border rounded-2 px-4 mb-5">
            <div class="display-6 mb-3 mt-4">Changes to Terms and Conditions:</div>
            <li class="ms-5 mb-3 cpva">We reserve the right to modify or update these terms and conditions at any time
                without prior notice.</li>
            <li class="ms-5 cpva mb-4">By continuing to use our website or services after any changes are made, you
                agree to be bound by the updated terms and conditions.</li>
        </ol>


        <div class="mt-5 px-4 mb-5">
            <p class="text-center display-6" style="color: #08cb32;">
                Thank you for choosing
                <span style="color: orangered; font-weight: 300;">
                    <span style="color: orange;">i</span>Shop
                </span> for your ice cream needs!
            </p>
        </div>
    </div>
</main>

{% endblock body %}