{% extends 'base-blank.html' %}
{% block title %}304 - Not Modified{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/custom/404.css"> 
{% endblock stylesheet %}
{% block body %}
<div class="text-center mt-5">
    <div class="error mx-auto mt-5" data-text="304">304</div>
    <p class="lead text-gray-800 mb-5">Not Modified</p>
    {% if user.is_authenticated %}
    <p class="text-gray-500 mb-0">Hey {{ request.user }}, This is Not Modified</p>
    {% else %}
    <p class="text-gray-500 mb-0">This is Not Modified</p>
    {% endif %}
    <a href="/">Back to iShop</a>
</div>
{% endblock %}